<div class="myCharacters">
    <div class="myCharacters__navbar">
      <app-navbar-component></app-navbar-component>
    </div>

    <div class="myCharacters__spacer"></div>
    <div class="myCharacters__list" *ngIf="characterList">
      <div class="myCharacters__list__character" *ngFor="let character of characterList">
        <app-card [inputCharacter]="character"></app-card>
      </div>
    </div>
    
    <div class="myCharacters__footer">
      <app-footer-component></app-footer-component>
    </div>
</div>

