.home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    width: 100%;
    font-size: calc(15px + 2vh + 2vw);
    border-bottom: 4px solid rgba(112, 76, 182, 0.5);
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 2%;
    padding-bottom: calc(1vh + 1vw);
    padding-top: calc(1vh + 1vw);
    margin-bottom: 1%;
}