<div class="list">
    <div class="list__navbar">
      <app-navbar-component></app-navbar-component>
    </div>
    <div class="list__spacer"></div>
    <div class="list__find">Buscar personaje:</div>
    <input class="list__input" type="text" [(ngModel)]="filter" />
    <div class="list__list" *ngIf="characterList">
      <div class="list__list__character" *ngFor="let character of ((characterList | filterLength : length) | filterName: filter)">
        <app-card [inputCharacter]="character"></app-card>
      </div>
    </div>
</div>
