.detail__character__info{
    width:90%; 
    height:calc(3vh + 3vw); 
    max-height: 15%;
    color: black; 
    border-bottom: 2px solid lightblue; 
    border-left: 2px solid lightblue;
    text-align: left;
    margin-left: 3%; 
    font-size: calc(5px + 1vh + 1vw); 
    margin-bottom: 6%; 
    padding-left: 2%;
}