.main{
    margin: 1%;
    width: 98%;
}

.info {
    margin: 1% 1% 2% 1%;
    font-size: calc(5px + 0.7vh + 0.7vw);
}

.button {
    color: black;
    text-decoration: none;
    align-self: center;
    padding: 5px;
    padding-bottom: 8px;
    margin: 1%;
    width: calc(12vh + 12vw);
    max-width: 180px;
    font-size: calc(7px + 0.5vh + 0.5vw);
    border: 2px solid rgba(112, 76, 182, 0.5);
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 5%;
  
    &:hover {
      border: 2px solid rgb(90, 63, 146);
      color: rgb(90, 63, 146);
    }
}

.board{
    display: flex;
    flex-direction: column;

    &__row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 30% 0 30%;
        
    }

    &__buttonpad{
        

        &__finish{

        }
    }
}

.win{
    margin-top: 5%;
    padding: 2%;
    font-size: calc(10px + 1vh + 1vw);
    border-radius: 2%;
    padding-bottom: calc(1vh + 1vw);
    padding-top: calc(1vh + 1vw);
    margin-bottom: 1%;
    background-color: rgba(164, 229, 151, 0.4);
}

.lose{
    margin-top: 5%;
    padding: 2%;
    font-size: calc(10px + 1vh + 1vw);
    border-radius: 2%;
    padding-bottom: calc(1vh + 1vw);
    padding-top: calc(1vh + 1vw);
    margin-bottom: 1%;
    background-color: rgba(238, 98, 98, 0.3);
}

.inputStyle {
    border: 0;
    padding: 30%;
    width: 30%;
    margin: 0 0 0 0;
}

.numberStyle {
    padding: 0;
    width: 30%;
    margin: 0 0 0 0;
}

.first{
    border: 1px solid red;
}
