<!DOCTYPE html> 
<html lang="en">
   <head>
      <title>Apple</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../css/index.css"/>
      </head>

   <body>
      <div class="main">
         <nav role="navigation">
            <div class="mobile_navbar">
               <input type="checkbox" />

               <!-- Some spans to act as a hamburger -->
               <span></span>
               <span></span>
               <span></span>
               
               <ul class="mobile_navbar__menu">
                  <a href="#"><li>Tienda</li></a>
                  <a href="#"><li>Mac</li></a>
                  <a href="#"><li>iPad</li></a>
                  <a href="#"><li>iPhone</li></a>
                  <a href="#"><li>Watch</li></a>
                  <a href="#"><li>Airpod</li></a>
                  <a href="#"><li>TV y Casa</li></a>
                  <a href="#"><li>Solo en Apple</li></a>
                  <a href="#"><li>Accesorios</li></a>
                  <a href="#"><li>Soporte</li></a>
               </ul>

               <div class="mobile_navbar__logo">
                  <img src="../img/logoblanco.png" class="mobile_navbar__logo__icon">
               </div>

               <div class="mobile_navbar__cesta">
                  <a href="#">
                  <img src="../img/cesta.jpg" class="mobile_navbar__cesta__icon">
               </a>
               </div>
            </div>
         </nav>

         <nav role="navigation">
            <div class="landscapeTablet_navbar">
                  <div class="landscapeTablet_navbar__logo">
                     <img src="../img/logoblanco.png" class="landscapeTablet_navbar__logo__icon">
                  </div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Tienda</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Mac</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">iPad</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">iPhone</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Watch</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Airpod</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">TV y Casa</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Solo en Apple</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Accesorios</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Soporte</a></div>
                  <div class="landscapeTablet_navbar__cesta"><a href="#">
                     <img src="../img/cesta.jpg" class="landscapeTablet_navbar__cesta__icon"></a>
                  </div>
            </div>
         </nav>

         <div class="separator"></div>

         <div class="product">
               <div class="product__name">iPhone 13 Pro</div>
               <div class="product__description">Prodigioso Pro.</div>
               <div class="product__links">
                  <a class="product__links__style" href="#">Más información</a>
                  <a class="product__links__style" href="#">Comprar</a>
               </div>
               <div class="product__image">
                  <img src="../img/iphone13pro.png" class="product__image__icon" alt="iPhone 13 Pro">
               </div>
         </div>

         <div class="product">
            <div class="product__name">iPhone 13</div>
            <div class="product__description product__description--pink-13">Tu nuevo superpoder.</div>
            <div class="product__links">
               <a class="product__links__style" href="#">Más información</a>
               <a class="product__links__style" href="#">Comprar</a>
            </div>
            <div class="product__image">
               <img src="../img/iphone13.png" class="product__image__icon" alt="iPhone 13">
            </div>
         </div>

         <div class="product">
            <div class="product__new">Nuevo</div>
            <div class="product__name product__name--with-logo"> 
               <img src="../img/logo.png" class="product__name__icon" alt="apple logo">
               <div class="product__name__nick">Watch</div>
            </div>
            <div class="product__serie">Series 7</div>
            <div class="product__description">Presentamos nuestra pantalla más grande hasta la fecha.</div>
            <div class="product__links">
               <a class="product__links__style" href="#">Más información</a>
               <a class="product__links__style" href="#">Comprar</a>
            </div>
            <div class="product__image product__image--series7">
               <img src="../img/series7.jpg" class="product__image__icon" alt="Apple Watch Series 7">
            </div>
         </div>

         <div class="other_products">
            <div class="other_products__product">
               <div class="other_products__product__name">MacBook Pro</div>
               <div class="other_products__product__description">La potencia en estado puro.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image">
                  <img src="../img/macbookpro.jpg" class="other_products__product__image__icon" alt="MacBook Pro">
               </div>
            </div>

            <div class="other_products__product">
               <div class="other_products__product__name product__name--with-logo"> 
                  <img src="../img/logo.png" class="other_products__product__name__icon" alt="apple logo">
                  <div class="other_products__product__name__nick">Fitness+</div>
               </div>
               <div class="other_products__product__description">3 meses gratis al comprar un Apple Watch.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar Apple Watch</a>
               </div>
               <div class="other_products__product__image">
                  <img src="../img/deporte.jpg" class="other_products__product__image__icon" alt="Fitness">
               </div>
            </div> 

            <div class="other_products__product">
               <div class="other_products__product__name">Air Pods</div>
               <div class="other_products__product__description">Nuevo diseño con audio espacial.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image other_products__product__image">
                  <img src="../img/airpods_.jpg" class="other_products__product__image__icon" alt="Air Pods">
               </div>
            </div>

            <div class="other_products__product">
               <div class="other_products__product__name">HomePod mini</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image other_products__product__image">
                  <img src="../img/home.jpeg" class="other_products__product__image__icon" alt="Air Pods">
               </div>
            </div>

            <div class="other_products__product">
               <div class="other_products__product__name">iPad mini</div>
               <div class="other_products__product__description">Megapotencia. Talla mini.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image other_products__product__image">
                  <img src="../img/ipadmini.jpg" class="other_products__product__image__icon" alt="iPad mini">
               </div>
            </div>

            <div class="other_products__product other_products__product--background">
               <div class="other_products__product__links other_products__product__links--appletv">
                  <a class="other_products__product__links__style other_products__product__links__style--appletv" href="#">Ver ahora</a>
               </div>
            </div>

         </div>

      </div>
   
     </div>
   </body> 
</html>