<!DOCTYPE html> 
<html lang="en">
   <head>
      <title>Apple</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../css/index.css"/>
      </head>

   <body>
      <div class="main">
         <nav role="navigation">
            <div class="mobile_navbar">
               <input type="checkbox" />

               <!-- Some spans to act as a hamburger -->
               <span></span>
               <span></span>
               <span></span>
               
               <ul class="mobile_navbar__menu">
                  <a href="#"><li>Tienda</li></a>
                  <a href="#"><li>Mac</li></a>
                  <a href="#"><li>iPad</li></a>
                  <a href="#"><li>iPhone</li></a>
                  <a href="#"><li>Watch</li></a>
                  <a href="#"><li>Airpod</li></a>
                  <a href="#"><li>TV y Casa</li></a>
                  <a href="#"><li>Solo en Apple</li></a>
                  <a href="#"><li>Accesorios</li></a>
                  <a href="#"><li>Soporte</li></a>
               </ul>

               <div class="mobile_navbar__logo">
                  <img src="../img/logoblanco.png" class="mobile_navbar__logo__icon">
               </div>

               <div class="mobile_navbar__cesta">
                  <a href="#">
                  <img src="../img/cesta.jpg" class="mobile_navbar__cesta__icon">
               </a>
               </div>
            </div>
         </nav>

         <nav role="navigation">
            <div class="landscapeTablet_navbar">
                  <div class="landscapeTablet_navbar__logo">
                     <img src="../img/logoblanco.png" class="landscapeTablet_navbar__logo__icon">
                  </div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Tienda</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Mac</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">iPad</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">iPhone</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Watch</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Airpod</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">TV y Casa</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Solo en Apple</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Accesorios</a></div>
                  <div class="landscapeTablet_navbar__elem"><a href="#">Soporte</a></div>
                  <div class="landscapeTablet_navbar__cesta"><a href="#">
                     <img src="../img/cesta.jpg" class="landscapeTablet_navbar__cesta__icon"></a>
                  </div>
            </div>
         </nav>

         <div class="separator"></div>

         <div class="product">
               <div class="product__name">iPhone 13 Pro</div>
               <div class="product__description">Prodigioso Pro.</div>
               <div class="product__links">
                  <a class="product__links__style" href="#">Más información</a>
                  <a class="product__links__style" href="#">Comprar</a>
               </div>
               <div class="product__image">
                  <img src="../img/iphone13pro.png" class="product__image__icon" alt="iPhone 13 Pro">
               </div>
         </div>

         <div class="product">
            <div class="product__name">iPhone 13</div>
            <div class="product__description product__description--pink-13">Tu nuevo superpoder.</div>
            <div class="product__links">
               <a class="product__links__style" href="#">Más información</a>
               <a class="product__links__style" href="#">Comprar</a>
            </div>
            <div class="product__image">
               <img src="../img/iphone13.png" class="product__image__icon" alt="iPhone 13">
            </div>
         </div>

         <div class="product">
            <div class="product__new">Nuevo</div>
            <div class="product__name product__name--with-logo"> 
               <img src="../img/logo.png" class="product__name__icon" alt="apple logo">
               <div class="product__name__nick">Watch</div>
            </div>
            <div class="product__serie">Series 7</div>
            <div class="product__description">Presentamos nuestra pantalla más grande hasta la fecha.</div>
            <div class="product__links">
               <a class="product__links__style" href="#">Más información</a>
               <a class="product__links__style" href="#">Comprar</a>
            </div>
            <div class="product__image product__image--series7">
               <img src="../img/series7.jpg" class="product__image__icon" alt="Apple Watch Series 7">
            </div>
         </div>

         <div class="other_products">
            <div class="other_products__product">
               <div class="other_products__product__name">MacBook Pro</div>
               <div class="other_products__product__description">La potencia en estado puro.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image">
                  <img src="../img/macbookpro.jpg" class="other_products__product__image__icon" alt="MacBook Pro">
               </div>
            </div>

            <div class="other_products__product">
               <div class="other_products__product__name product__name--with-logo"> 
                  <img src="../img/logo.png" class="other_products__product__name__icon" alt="apple logo">
                  <div class="other_products__product__name__nick">Fitness+</div>
               </div>
               <div class="other_products__product__description">3 meses gratis al comprar un Apple Watch.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar Apple Watch</a>
               </div>
               <div class="other_products__product__image">
                  <img src="../img/deporte.jpg" class="other_products__product__image__icon" alt="Fitness">
               </div>
            </div> 

            <div class="other_products__product">
               <div class="other_products__product__name">Air Pods</div>
               <div class="other_products__product__description">Nuevo diseño con audio espacial.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image other_products__product__image">
                  <img src="../img/airpods_.jpg" class="other_products__product__image__icon" alt="Air Pods">
               </div>
            </div>

            <div class="other_products__product">
               <div class="other_products__product__name">HomePod mini</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image other_products__product__image">
                  <img src="../img/home.jpeg" class="other_products__product__image__icon" alt="Air Pods">
               </div>
            </div>

            <div class="other_products__product">
               <div class="other_products__product__name">iPad mini</div>
               <div class="other_products__product__description">Megapotencia. Talla mini.</div>
               <div class="other_products__product__links">
                  <a class="other_products__product__links__style" href="#">Más información</a>
                  <a class="other_products__product__links__style" href="#">Comprar</a>
               </div>
               <div class="other_products__product__image other_products__product__image">
                  <img src="../img/ipadmini.jpg" class="other_products__product__image__icon" alt="iPad mini">
               </div>
            </div>

            <div class="other_products__product other_products__product--background">
               <div class="other_products__product__links other_products__product__links--appletv">
                  <a class="other_products__product__links__style other_products__product__links__style--appletv" href="#">Ver ahora</a>
               </div>
            </div>

         </div>

      </div>
   
      <!-- <footer class="js" lang="es-ES" id="ac-globalfooter" data-analytics-region="global footer" role="contentinfo" aria-labelledby="ac-gf-label">
         <div class="ac-gf-content">
            <h2 class="ac-gf-label" id="ac-gf-label">Pie de página de Apple</h2>
            <section class="ac-gf-sosumi" aria-label="Notas a pie de página">
               <ul>
                  <li id="footnote-1">1. 9,99&nbsp;€/mes después de la prueba gratuita. La&nbsp;oferta tiene validez durante tres meses desde que se activa un&nbsp;dispositivo válido. Una sola suscripción por cuenta compartida de&nbsp;En&nbsp;Familia. Si no se cancela, la suscripción se renueva automáticamente. Sujeto a restricciones y&nbsp;otras <a href="/es/promo/pdf/ES_ES_Fitness_Plus_Promo_TandCs.pdf">condiciones</a>.</li>
               </ul>
               <ul>
                  <li>Los entrenamientos y las meditaciones guiadas de Apple&nbsp;Fitness+ se imparten en inglés con subtítulos opcionales en alemán, español de Latinoamérica, francés, italiano, portugués de Brasil y ruso.</li>
                  <li>Apple&nbsp;TV+ por 4,99&nbsp;€/mes después de la prueba gratuita. Una sola suscripción por cuenta compartida de En Familia. La&nbsp;oferta tiene validez durante tres meses desde que se&nbsp;activa un dispositivo válido. Si&nbsp;no se cancela, la&nbsp;suscripción se renueva automáticamente. Sujeto a restricciones y otras <a href="/es/promo/">condiciones</a>.</li>
               </ul>
            </section>
               <nav class="ac-gf-directory with-5-columns" aria-label="Directorio de Apple" role="navigation">
         <div class="ac-gf-directory-column"><input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-products">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-products">
                  <h3 class="ac-gf-directory-column-section-title">Ver y comprar</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-products" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/store" data-analytics-title="store">Tienda</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/mac/" data-analytics-title="mac">Mac</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/ipad/" data-analytics-title="ipad">iPad</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/iphone/" data-analytics-title="iphone">iPhone</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/watch/" data-analytics-title="watch">Watch</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/airpods/" data-analytics-title="airpods">AirPods</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/tv-home/" data-analytics-title="tv and home">TV y Casa</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/ipod-touch/" data-analytics-title="ipod touch">iPod touch</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/airtag/" data-analytics-title="airtag">AirTag</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/buy_accessories" data-analytics-title="accessories">Accesorios</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/giftcards" data-analytics-title="gift cards">Tarjetas regalo</a></li>
               </ul>
            </div>
         </div>
         <div class="ac-gf-directory-column">
            <input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-services">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-services">
                  <h3 class="ac-gf-directory-column-section-title">Servicios</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-services" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-music/" data-analytics-title="apple music">Apple&nbsp;Music</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-tv-plus/" data-analytics-title="apple tv plus">Apple&nbsp;TV+</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-fitness-plus/" data-analytics-title="apple fitness plus">Apple&nbsp;Fitness+</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-arcade/" data-analytics-title="apple arcade">Apple&nbsp;Arcade</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/icloud/" data-analytics-title="icloud">iCloud</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-one/" data-analytics-title="apple one">Apple&nbsp;One</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-pay/" data-analytics-title="apple pay">Apple&nbsp;Pay</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-books/" data-analytics-title="apple books">Apple&nbsp;Books</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-podcasts/" data-analytics-title="apple podcasts">Apple Podcasts</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/app-store/" data-analytics-title="app store">App&nbsp;Store</a></li>
               </ul>
            </div>
            <input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-accounts">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-accounts">
                  <h3 class="ac-gf-directory-column-section-title">Cuentas</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-accounts" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://appleid.apple.com/es/" data-analytics-title="manage your apple id" data-analytics-exit-link="">Gestionar ID de Apple</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/account" data-analytics-title="apple store account">Cuenta del Apple Store</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://www.icloud.com" data-analytics-title="icloud.com" data-analytics-exit-link="">iCloud.com</a></li>
               </ul>
            </div>
         </div>
         <div class="ac-gf-directory-column"><input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-storeservices">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-storeservices">
                  <h3 class="ac-gf-directory-column-section-title">Apple Store</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-storeservices" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/retail/" data-analytics-title="find a store">Encontrar una tienda</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/retail/geniusbar/" data-analytics-title="genius bar">Genius Bar</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/today/" data-analytics-title="today at apple">Today at Apple</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/today/camp/" data-analytics-title="apple camp">Campamento de Apple</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://apps.apple.com/es/app/apple-store/id375380948" data-analytics-title="apple store app" data-analytics-exit-link="">App Apple Store</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/special_deals" data-analytics-title="refurbished and clearance">Reacondicionado</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/ww/financing" data-analytics-title="financing">Financiación</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/trade-in/" data-analytics-title="apple trade in">Apple&nbsp;Trade&nbsp;In</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/order/list" data-analytics-title="order status">Estado del pedido</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/help" data-analytics-title="shopping help">Ayuda para comprar</a></li>
               </ul>
            </div>
         </div>
         <div class="ac-gf-directory-column">
            <input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-business">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-business">
                  <h3 class="ac-gf-directory-column-section-title">Empresas</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-business" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/business/" data-analytics-title="apple and business">Apple y las empresas</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/retail/business/" data-analytics-title="shop for business">Compras de empresa</a></li>
               </ul>
            </div>
            <input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-education">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-education">
                  <h3 class="ac-gf-directory-column-section-title">Educación</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-education" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/education/" data-analytics-title="apple and education">Apple en la educación</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/shop/goto/educationrouting" data-analytics-title="shop for university">Compras para la universidad</a></li>
               </ul>
            </div>
            <input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-healthcare">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-healthcare">
                  <h3 class="ac-gf-directory-column-section-title">Salud</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-healthcare" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/healthcare/" data-analytics-title="apple in healthcare">Apple en el sector sanitario</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/healthcare/apple-watch/" data-analytics-title="health on apple watch">Salud en el Apple&nbsp;Watch</a></li>
               </ul>
            </div>
         </div>
         <div class="ac-gf-directory-column">
            <input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-responsibility">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-responsibility">
                  <h3 class="ac-gf-directory-column-section-title">Valores de Apple</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-responsibility" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/accessibility/" data-analytics-title="accessibility">Accesibilidad</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/environment/" data-analytics-title="environment">Medio ambiente</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/privacy/" data-analytics-title="privacy">Privacidad</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/supplier-responsibility/" data-analytics-title="supplier responsibility">Responsabilidad de proveedores</a></li>
               </ul>
            </div>
            <input class="ac-gf-directory-column-section-state" type="checkbox" id="ac-gf-directory-column-section-state-about">
            <div class="ac-gf-directory-column-section">
               <label class="ac-gf-directory-column-section-label" for="ac-gf-directory-column-section-state-about">
                  <h3 class="ac-gf-directory-column-section-title">Acerca de Apple</h3>
               </label>
               <a href="#ac-gf-directory-column-section-state-about" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-open">
                  <span class="ac-gf-directory-column-section-anchor-label">Abrir menú</span>
               </a>
               <a href="#" class="ac-gf-directory-column-section-anchor ac-gf-directory-column-section-anchor-close">
                  <span class="ac-gf-directory-column-section-anchor-label">Cerrar menú</span>
               </a>
               <ul class="ac-gf-directory-column-section-list">
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/newsroom/" data-analytics-title="newsroom">Newsroom</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/leadership/" data-analytics-title="apple leadership">Directivos de Apple</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/careers/es/" data-analytics-title="career opportunities">Oportunidades laborales</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/legal/warranty/statutoryrights.html" data-analytics-title="warranty">Garantía</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="https://investor.apple.com/" data-analytics-title="investors" data-analytics-exit-link="">Inversores</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/compliance/" data-analytics-title="ethics and compliance">Ética y&nbsp;conducta</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/apple-events/" data-analytics-title="events">Eventos</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/job-creation/" data-analytics-title="european job creation">Creación de empleo en&nbsp;Europa</a></li>
                  <li class="ac-gf-directory-column-section-item"><a class="ac-gf-directory-column-section-link" href="/es/contact/" data-analytics-title="contact apple">Contacto</a></li>
               </ul>
            </div>
         </div>
      </nav> -->
   
      <!-- <section class="ac-gf-footer">
         <div class="ac-gf-footer-shop" x-ms-format-detection="none">
            Más formas de comprar: <a href="/es/retail/" data-analytics-title="find an apple store">encuentra un Apple&nbsp;Store</a> o <a href="https://locate.apple.com/es/es/" data-analytics-title="other retailers or resellers" data-analytics-exit-link="">un distribuidor</a> cerca de ti. <span class="nowrap">O llama al 900 150 503.</span>
         </div>
         <div class="ac-gf-footer-locale">
            <a class="ac-gf-footer-locale-link" href="/choose-country-region/" title="Elige tu país o región" aria-label="España. Elige tu país o región" data-analytics-title="choose your country">España</a>
         </div>
         <div class="ac-gf-footer-legal">
            <div class="ac-gf-footer-legal-copyright">Copyright ©
               
               2022
                Apple Inc. Todos los derechos reservados.
            </div>
            <div class="ac-gf-footer-legal-links">
               <a class="ac-gf-footer-legal-link" href="/es/legal/privacy/" data-analytics-title="privacy policy">Política de privacidad</a>
               <a class="ac-gf-footer-legal-link" href="/legal/privacy/es/cookies/" data-analytics-title="use of cookies">Uso de cookies</a>
               <a class="ac-gf-footer-legal-link" href="/es/legal/terms/site.html" data-analytics-title="terms of use">Condiciones de uso</a>
               <a class="ac-gf-footer-legal-link" href="/es/shop/goto/help/sales_refunds" data-analytics-title="sales and refunds">Ventas y reembolsos</a>
               <a class="ac-gf-footer-legal-link" href="/es/legal/" data-analytics-title="legal">Avisos legales</a>
               <a class="ac-gf-footer-legal-link" href="/es/sitemap/" data-analytics-title="site map">Mapa del sitio</a>
            </div>
         </div>
      </section>
   
   
   <div id="viewport-emitter" data-viewport-emitter-dispatch="" data-viewport-emitter-state="{&quot;viewport&quot;:&quot;small&quot;,&quot;orientation&quot;:&quot;landscape&quot;,&quot;retina&quot;:true}">-->
      
      </div>
   </body> 
</html>